
hr {
    margin-bottom:20px;
    margin-top:0px;
}
.indexnumber {
    background-color: #7d2e2c;
    color: white;
    padding-bottom: 7px;
    border-radius: 15px;
	margin-top: 20px;
}
h2 {
    padding:10px;
    margin-bottom:25px;
}
.h2heading {
    background-color:#f4f6fa;
}
#insuredsinformation [data-toggle="collapse"]:after
{
	font-family: 'Glyphicons Halflings';
	content: "\e072";
	float: right;
	color: #000;
	font-size: 18px;
	line-height: 22px;

	-webkit-transform: rotate(-90deg);
	-moz-transform:    rotate(-90deg);
	-ms-transform:     rotate(-90deg);
	-o-transform:      rotate(-90deg);
	transform:         rotate(-90deg);
}
#insuredsinformation [data-toggle="collapse"].collapsed:after
{
	-webkit-transform: rotate(90deg);
	-moz-transform:    rotate(90deg);
	-ms-transform:     rotate(90deg);
	-o-transform:      rotate(90deg);
	transform:         rotate(90deg);
}
.btn-primary {
    background-color:#7d2e2c;
    border-color: #7d2e2c;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
  background-color: #735151;
  border-color: #735151;
  color: #FFFFFF;
}