<template name="Claimpage">
  <div id="page-content-wrapper">
    <div class="page-content" style="padding:20px;padding-top:10px;">

      <!-- new assignment header -->
      <div style="height:60px;">
        <div class="pull-left">
          <h1></h1>
        </div>


        <div class="pull-right index-style col-md-2 col-xs-12 indexnumber">
          <h1 class="text-center" style="margin-top:15px;font-weight:700;">
             115122ALO
          </h1>
          <h3 class="text-center" style="margin-top: -15px;">INDEX NUMBER</h3>
        </div>
      </div>
      <!-- end of header -->

      <br/>
      <br/>

      <ul id="tabs" data-tabs="tabs" class="nav nav-tabs">
        <li role="presentation" class="active"><a data-toggle="tab" href="#general">General Info</a></li>
        <li role="presentation"><a data-toggle="tab" href="#vehicle">Vehicle Info</a></li>
        <li role="presentation"><a data-toggle="tab" href="#invoice">Invoice</a></li>
        <li role="presentation"><a data-toggle="tab" href="#imagemanager">Image/File Manager</a></li>
        <li role="presentation"><a data-toggle="tab" href="#appraiser">Appraiser Report</a></li>
        <li role="presentation"><a data-toggle="tab" href="#supplement">Supplement Report(s)</a></li>
      </ul>

      <div class=".col-md-12" style="background-color:white;padding:25px;">
        <div class="tab-content">
          <div id="general" class="tab-pane fade in active">

            <h2 class="h2heading">General Information</h2>


            <!-- Start of Tab -->

            <div id="generalinformation" class="collapse in">
              {{#autoForm id="newAssignment" type="method" schema=Schema.Claims collection="Claims" meteormethod="addClaimdata"}}

              <!-- Start of Row 1a -->

              <div class="row spacethebottom">

                <div class="form-group {{#if afFieldIsInvalid name='insuranceCompanies'}}has-error{{/if}}">
                  <label class="col-md-2 control-label">Insurance Profile</label>
                  <div class="col-md-3">
                    {{> afFieldInput id='insurancecompany' type='select' name='insuranceCompanies'}} {{#if afFieldIsInvalid name='insuranceCompanies'}}
                    <span class="help-block">{{{afFieldMessage name='insuranceCompanies'}}}</span> {{/if}}
                  </div>
                </div>

              </div>

              <!-- End of Row 1a -->

              <!-- Start of Row 1 -->

              <div class="row spacethebottom">


                <div class="form-group {{#if afFieldIsInvalid name='appraisersOption'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Appraiser</label>
                  <div class="col-md-3">
                    {{> afFieldInput type='select' name='appraisersOption'}} {{#if afFieldIsInvalid name='appraisersOption'}}
                    <span class="help-block">{{{afFieldMessage name='appraisersOption'}}}</span> {{/if}}
                  </div>
                </div>


                <div class="form-group {{#if afFieldIsInvalid name='date_recieved'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Date Recieved</label>
                  <div class="col-md-3">
                    {{> afFieldInput id='date_recieved' value='today' type='bootstrap-datepicker' buttonClasses='glyphicon glyphicon-calendar'
                    name='date_recieved'}} {{#if afFieldIsInvalid name='date_recieved'}}
                    <span class="help-block">{{{afFieldMessage name='date_recieved'}}}</span> {{/if}}
                  </div>
                </div>


                <div class="form-group {{#if afFieldIsInvalid name='policyNumber'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Policy Number</label>
                  <div class="col-md-3">
                    {{> afFieldInput id='policyNumber' type='text' name='policyNumber'}} {{#if afFieldIsInvalid name='policyNumber'}}
                    <span class="help-block">{{{afFieldMessage name='policyNumber'}}}</span> {{/if}}
                  </div>
                </div>

              </div>
              <!-- end of row 1 -->


              <!-- start of row 2 -->

              <div class="row spacethebottom">

                <div class="form-group {{#if afFieldIsInvalid name='typeLoss'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Type of Loss</label>
                  <div class="col-md-3">
                    {{> afFieldInput id='typeLoss' type='select' name='typeLoss'}} {{#if afFieldIsInvalid name='typeLoss'}}
                    <span class="help-block">{{{afFieldMessage name='typeLoss'}}}</span> {{/if}}
                  </div>
                </div>

                <div class="form-group {{#if afFieldIsInvalid name='dateofloss'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Date of Loss</label>
                  <div class="col-md-3">
                    {{> afFieldInput id='dateofloss' value='today' type='bootstrap-datepicker' buttonClasses='glyphicon glyphicon-calendar' name='dateofloss'}}
                    {{#if afFieldIsInvalid name='dateofloss'}}
                    <span class="help-block">{{{afFieldMessage name='dateofloss'}}}</span> {{/if}}
                  </div>
                </div>

                <div class="form-group {{#if afFieldIsInvalid name='dateofinspection'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Date of Inspection</label>
                  <div class="col-md-3">
                    {{> afFieldInput id='dateofinspection' value='today' type='bootstrap-datepicker' buttonClasses='glyphicon glyphicon-calendar'
                    name='dateofinspection'}} {{#if afFieldIsInvalid name='dateofinspection'}}
                    <span class="help-block">{{{afFieldMessage name='dateofinspection'}}}</span> {{/if}}
                  </div>
                </div>

              </div>
              <br>
              <!-- end of row 2 -->




              <!-- start of row 3 -->
              <a href="#insuredsinformation" data-toggle="collapse">
                <h2 class="h2heading">Insured's Information</h2>
              </a>
              <div id="insuredsinformation" data-parent="#accordion" class="collapse">
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='insuredName'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Name</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredName' type='text' name='insuredName'}} {{#if afFieldIsInvalid name='insuredName'}}
                      <span class="help-block">{{{afFieldMessage name='insuredName'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredHomephone'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Home Phone</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredHomephone' type='masked-input' name='insuredHomephone' placeholder='___-___-____'}} {{#if afFieldIsInvalid
                      name='insuredHomephone'}}
                      <span class="help-block">{{{afFieldMessage name='insuredHomephone'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredWorkphone'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Work Phone</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredWorkphone' type='masked-input' name='insuredWorkphone' placeholder='___-___-____'}} {{#if afFieldIsInvalid
                      name='insuredWorkphone'}}
                      <span class="help-block">{{{afFieldMessage name='insuredWorkphone'}}}</span> {{/if}}
                    </div>
                  </div>
                </div>
                <!-- end of row 3 -->



                <!-- start of row 3a -->
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='insuredAddress1'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Address</label>
                    <div class="col-md-4">
                      {{> afFieldInput id='insuredAddress1' type='text' name='insuredAddress1'}} {{#if afFieldIsInvalid name='insuredAddress1'}}
                      <span class="help-block">{{{afFieldMessage name='insuredAddress1'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredAddress2'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Suite/Apt</label>
                    <div class="col-md-2">
                      {{> afFieldInput id='insuredAddress2' type='text' name='insuredAddress2'}} {{#if afFieldIsInvalid name='insuredAddress2'}}
                      <span class="help-block">{{{afFieldMessage name='insuredAddress2'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredCity'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">City</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredCity' type='text' name='insuredCity'}} {{#if afFieldIsInvalid name='insuredCity'}}
                      <span class="help-block">{{{afFieldMessage name='insuredCity'}}}</span> {{/if}}
                    </div>
                  </div>


                </div>
                <!-- end of row 3a -->



                <!-- start of row 4 -->
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='insuredState'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">State</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredState' type='selectize' value="OR" name='insuredState'}} {{#if afFieldIsInvalid name='insuredState'}}
                      <span class="help-block">{{{afFieldMessage name='insuredState'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredZip'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Postal Code</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredZip' type='text' name='insuredZip'}} {{#if afFieldIsInvalid name='insuredZip'}}
                      <span class="help-block">{{{afFieldMessage name='insuredZip'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredEmail'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Email</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredEmail' type='text' name='insuredEmail'}} {{#if afFieldIsInvalid name='insuredEmail'}}
                      <span class="help-block">{{{afFieldMessage name='insuredEmail'}}}</span> {{/if}}
                    </div>
                  </div>


                </div>
                <!-- end of row 4 -->
              </div>
              <!-- end of collapse -->

              <!-- start of row 5 -->
              <a href="#claimantsinformation" data-toggle="collapse">
                <h2 class="h2heading">Claimant's Information</h2>
              </a>
              <div id="claimantsinformation" class="collapse">
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='claimantName'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Name</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantName' type='text' name='claimantName'}} {{#if afFieldIsInvalid name='claimantName'}}
                      <span class="help-block">{{{afFieldMessage name='claimantName'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantHomephone'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Home Phone</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantHomephone' type='masked-input' name='claimantHomephone' placeholder='___-___-____'}} {{#if afFieldIsInvalid
                      name='claimantHomephone'}}
                      <span class="help-block">{{{afFieldMessage name='claimantHomephone'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantWorkphone'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Work Phone</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantWorkphone' type='masked-input' name='claimantWorkphone' placeholder='___-___-____'}} {{#if afFieldIsInvalid
                      name='claimantWorkphone'}}
                      <span class="help-block">{{{afFieldMessage name='claimantWorkphone'}}}</span> {{/if}}
                    </div>
                  </div>
                </div>
                <!-- end of row 5 -->



                <!-- start of row 6 -->
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='claimantAddress1'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Address</label>
                    <div class="col-md-4">
                      {{> afFieldInput id='claimantAddress1' type='text' name='claimantAddress1'}} {{#if afFieldIsInvalid name='claimantAddress1'}}
                      <span class="help-block">{{{afFieldMessage name='claimantAddress1'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantAddress2'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Suite/Apt</label>
                    <div class="col-md-2">
                      {{> afFieldInput id='claimantAddress2' type='text' name='claimantAddress2'}} {{#if afFieldIsInvalid name='claimantAddress2'}}
                      <span class="help-block">{{{afFieldMessage name='claimantAddress2'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantCity'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">City</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantCity' type='text' name='claimantCity'}} {{#if afFieldIsInvalid name='claimantCity'}}
                      <span class="help-block">{{{afFieldMessage name='claimantCity'}}}</span> {{/if}}
                    </div>
                  </div>


                </div>
                <!-- end of row 6 -->



                <!-- start of row 7 -->
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='claimantState'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">State</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantState' type='selectize' value="OR" name='claimantState'}} {{#if afFieldIsInvalid name='claimantState'}}
                      <span class="help-block">{{{afFieldMessage name='claimantState'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantZip'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Postal Code</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantZip' type='text' name='claimantZip'}} {{#if afFieldIsInvalid name='claimantZip'}}
                      <span class="help-block">{{{afFieldMessage name='claimantZip'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantEmail'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Email</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantEmail' type='text' name='claimantEmail'}} {{#if afFieldIsInvalid name='claimantEmail'}}
                      <span class="help-block">{{{afFieldMessage name='claimantEmail'}}}</span> {{/if}}
                    </div>
                  </div>


                </div>
                <!-- end of row 7 -->
              </div>
              <!-- end of collapse-->


              <!-- Start of index number row -->

              <div class="row spacethebottom">

                <!-- Is there a UNIQUE ID yet? if SO... show it -->

                {{#if uniqueindexnum}}

                <div class="form-group {{#if afFieldIsInvalid name='index'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Index Number</label>
                  <div class="col-md-2">
                    {{> afFieldInput id='index' value=uniqueindexnum type='text' name='index' readonly=true}} {{#if afFieldIsInvalid name='index'}}
                    <span class="help-block">{{{afFieldMessage name='index'}}}</span> {{/if}}
                  </div>
                </div>

                <!-- Else show NO ID YET-->

                {{else}}

                <div class="form-group {{#if afFieldIsInvalid name='index'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Index Number</label>
                  <div class="col-md-2">
                    {{> afFieldInput id='index' value='NO INDEX # YET' type='text' name='index' readonly=true}} {{#if afFieldIsInvalid name='index'}}
                    <span class="help-block">{{{afFieldMessage name='index'}}}</span> {{/if}}
                  </div>
                </div>
                {{/if}}

                <!-- end of Unique ID IF Statement -->

              </div>
              <!-- end of index number row -->

              <!-- start of button -->

              <div class="row spacethebottom">
                <div class="col-md-3">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>

              <!-- end of button -->

              {{/autoForm}}
            </div>
          </div>
          <!-- end of tab1 -->


          <!-- Start of Tab 2 -->

          <div id="vehicle" class="tab-pane fade">

            <h2 class="h2heading">Vehicle Information</h2>
            <!-- Start of Tab -->
            <div id="vehicle" class="collapse in">
              {{#autoForm id="newAssignment" type="method" schema=Schema.Claims collection="Claims" meteormethod="addClaimdata"}}

              <!-- Start of Row 1a -->

              <div class="row spacethebottom">

                <div class="form-group">
                  <label class="col-md-1 control-label">Vehicle Year</label>
                  <div class="col-md-1">
                    {{> afFieldInput id='vehicleYear' size='4' type='text' name='vehicleYear'}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">Make</label>
                  <div class="col-md-2">
                    {{> afFieldInput id='make' type='text' name='make'}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">Model</label>
                  <div class="col-md-2">
                    {{> afFieldInput id='model' type='text' name='model'}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">License plate</label>
                  <div class="col-md-2">
                    {{> afFieldInput id='licplate' type='text' name='licplate'}}
                  </div>
                </div>

              </div>

              <!-- End of Row 1a -->

              <!-- Start of Row 1b -->

              <div class="row spacethebottom">

                <div class="form-group">
                  <label class="col-md-1 control-label">Vehicle VIN</label>
                  <div class="col-md-3">
                    {{> afFieldInput id='vehicleVIN' type='text' name='vehicleVIN'}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">Odometer</label>
                  <div class="col-md-2">
                    {{> afFieldInput id='make' type='text' name='odometer'}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">Vehicle Color</label>
                  <div class="col-md-2">
                    {{> afFieldInput id='vehicleColor' type='text' name='vehcileColor'}}
                  </div>
                </div>

              </div>

              <!-- End of Row 1b -->

              <!-- Start of Row 1c -->

              <div class="row spacethebottom">


                <div class="form-group {{#if afFieldIsInvalid name='appraisersOption'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Vehicle Location</label>
                  <div class="col-md-3">
                    {{> afFieldInput type='select' name='vehicleLocation'}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">Location Type</label>
                  <div class="col-md-3">
                    {{> afFieldInput type='select' name='locationType'}}
                  </div>
                </div>

              </div>

              <!-- End of Row 1c -->

              <!-- Start of Row 1d -->

              <div class="row spacethebottom">


                <div class="form-group">
                  <label class="col-md-1 control-label">Vehicle Owner</label>
                  <div class="col-md-3">
                    {{> afFieldInput id='vehicleOwner' type='text' name='vehicleOwner'}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-1 control-label">Location Address</label>
                  <div class="col-md-5">
                    {{> afFieldInput id='locationAddress' type='text' name='locationAddress'}}
                  </div>
                </div>

              </div>

              <!-- End of Row 1d -->

              <!-- start of row 3 -->
              <a href="#shopinformation" data-toggle="collapse">
                <h2 class="h2heading">Shop's Information</h2>
              </a>
              <div id="shopinformation" data-parent="#accordion" class="collapse">
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='insuredName'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Name</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredName' type='text' name='insuredName'}} {{#if afFieldIsInvalid name='insuredName'}}
                      <span class="help-block">{{{afFieldMessage name='insuredName'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredWorkphone'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Work Phone</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredWorkphone' type='masked-input' name='insuredWorkphone' placeholder='___-___-____'}} {{#if afFieldIsInvalid
                      name='insuredWorkphone'}}
                      <span class="help-block">{{{afFieldMessage name='insuredWorkphone'}}}</span> {{/if}}
                    </div>
                  </div>
                </div>
                <!-- end of row 3 -->



                <!-- start of row 3a -->
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='insuredAddress1'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Address</label>
                    <div class="col-md-4">
                      {{> afFieldInput id='insuredAddress1' type='text' name='insuredAddress1'}} {{#if afFieldIsInvalid name='insuredAddress1'}}
                      <span class="help-block">{{{afFieldMessage name='insuredAddress1'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredAddress2'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Suite/Apt</label>
                    <div class="col-md-2">
                      {{> afFieldInput id='insuredAddress2' type='text' name='insuredAddress2'}} {{#if afFieldIsInvalid name='insuredAddress2'}}
                      <span class="help-block">{{{afFieldMessage name='insuredAddress2'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredCity'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">City</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredCity' type='text' name='insuredCity'}} {{#if afFieldIsInvalid name='insuredCity'}}
                      <span class="help-block">{{{afFieldMessage name='insuredCity'}}}</span> {{/if}}
                    </div>
                  </div>


                </div>
                <!-- end of row 3a -->



                <!-- start of row 4 -->
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='insuredState'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">State</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredState' type='selectize' value="OR" name='insuredState'}} {{#if afFieldIsInvalid name='insuredState'}}
                      <span class="help-block">{{{afFieldMessage name='insuredState'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredZip'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Postal Code</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredZip' type='text' name='insuredZip'}} {{#if afFieldIsInvalid name='insuredZip'}}
                      <span class="help-block">{{{afFieldMessage name='insuredZip'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='insuredEmail'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Shop's Email</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='insuredEmail' type='text' name='insuredEmail'}} {{#if afFieldIsInvalid name='insuredEmail'}}
                      <span class="help-block">{{{afFieldMessage name='insuredEmail'}}}</span> {{/if}}
                    </div>
                  </div>


                </div>
                <!-- end of row 4 -->
              </div>
              <!-- end of collapse -->

              <!-- start of row 5 -->
              <a href="#otherinformation" data-toggle="collapse">
                <h2 class="h2heading">Other Location Information</h2>
              </a>
              <div id="otherinformation" class="collapse">
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='claimantName'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Name</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantName' type='text' name='claimantName'}} {{#if afFieldIsInvalid name='claimantName'}}
                      <span class="help-block">{{{afFieldMessage name='claimantName'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantWorkphone'}}has-error{{/if}}">
                    <label class="col-md-1 control-label"> Phone</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantWorkphone' type='masked-input' name='claimantWorkphone' placeholder='___-___-____'}} {{#if afFieldIsInvalid
                      name='claimantWorkphone'}}
                      <span class="help-block">{{{afFieldMessage name='claimantWorkphone'}}}</span> {{/if}}
                    </div>
                  </div>
                </div>
                <!-- end of row 5 -->



                <!-- start of row 6 -->
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='claimantAddress1'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Address</label>
                    <div class="col-md-4">
                      {{> afFieldInput id='claimantAddress1' type='text' name='claimantAddress1'}} {{#if afFieldIsInvalid name='claimantAddress1'}}
                      <span class="help-block">{{{afFieldMessage name='claimantAddress1'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantAddress2'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Suite/Apt</label>
                    <div class="col-md-2">
                      {{> afFieldInput id='claimantAddress2' type='text' name='claimantAddress2'}} {{#if afFieldIsInvalid name='claimantAddress2'}}
                      <span class="help-block">{{{afFieldMessage name='claimantAddress2'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantCity'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">City</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantCity' type='text' name='claimantCity'}} {{#if afFieldIsInvalid name='claimantCity'}}
                      <span class="help-block">{{{afFieldMessage name='claimantCity'}}}</span> {{/if}}
                    </div>
                  </div>


                </div>
                <!-- end of row 6 -->



                <!-- start of row 7 -->
                <div class="row spacethebottom">

                  <div class="form-group {{#if afFieldIsInvalid name='claimantState'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">State</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantState' type='selectize' value="OR" name='claimantState'}} {{#if afFieldIsInvalid name='claimantState'}}
                      <span class="help-block">{{{afFieldMessage name='claimantState'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantZip'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Postal Code</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantZip' type='text' name='claimantZip'}} {{#if afFieldIsInvalid name='claimantZip'}}
                      <span class="help-block">{{{afFieldMessage name='claimantZip'}}}</span> {{/if}}
                    </div>
                  </div>

                  <div class="form-group {{#if afFieldIsInvalid name='claimantEmail'}}has-error{{/if}}">
                    <label class="col-md-1 control-label">Email</label>
                    <div class="col-md-3">
                      {{> afFieldInput id='claimantEmail' type='text' name='claimantEmail'}} {{#if afFieldIsInvalid name='claimantEmail'}}
                      <span class="help-block">{{{afFieldMessage name='claimantEmail'}}}</span> {{/if}}
                    </div>
                  </div>


                </div>
                <!-- end of row 7 -->
              </div>
              <!-- end of collapse-->

              <!-- start of row 8 -->
              <a href="#factsofloss" data-toggle="collapse">
                <h2 class="h2heading">Facts of Loss</h2>
              </a>
              <div id="factsofloss" data-parent="#accordion" class="collapse">
                <div class="row spacethebottom">



                  <div class="form-group">
                    <label class="col-md-1 control-label">Areas of Damage</label>
                    <div class="col-md-10">
                      <input type="checkbox" name="Front End" value="front"> Front End &nbsp;
                      <input type="checkbox" name="Rear End" value="rear" checked="checked"> Rear End &nbsp;
                      <input type="checkbox" name="Left Side" value="left"> Left Side &nbsp;
                      <input type="checkbox" name="Right Side" value="right" checked="checked"> Right Side <br>
                      <input type="checkbox" name="Undercarriage" value="undercarriage"> Undercarriage &nbsp;
                      <input type="checkbox" name="Fire" value="fire"> Fire &nbsp;
                      <input type="checkbox" name="Roll Over" value="roll over"> Roll over &nbsp;
                      <input type="checkbox" name="Vandalism" value="vandalism"> Vandalism &nbsp;
                    </div>
                  </div>


                </div>
                <!-- end of row 8 -->
                <!-- start of row 9-->
                <div class="row spacethebottom">


                  <div class="form-group">
                    <label class="col-md-1 control-label">Summary of Loss</label>
                    <div class="col-md-5">
                      <textarea rows="4" cols="50" name="comment" form="usrform"></textarea>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-md-1 control-label">Special Instructions</label>
                    <div class="col-md-4">
                      <textarea rows="4" cols="50" name="comment" form="usrform"></textarea>
                    </div>
                  </div>


                </div>
                <!-- end of row 9 -->



              </div>
              <!-- end of collapse -->


              <!-- Start of index number row -->

              <div class="row spacethebottom">

                <!-- Is there a UNIQUE ID yet? if SO... show it -->

                {{#if uniqueindexnum}}

                <div class="form-group {{#if afFieldIsInvalid name='index'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Index Number</label>
                  <div class="col-md-2">
                    {{> afFieldInput id='index' value=uniqueindexnum type='text' name='index' readonly=true}} {{#if afFieldIsInvalid name='index'}}
                    <span class="help-block">{{{afFieldMessage name='index'}}}</span> {{/if}}
                  </div>
                </div>

                <!-- Else show NO ID YET-->

                {{else}}

                <div class="form-group {{#if afFieldIsInvalid name='index'}}has-error{{/if}}">
                  <label class="col-md-1 control-label">Index Number</label>
                  <div class="col-md-2">
                    {{> afFieldInput id='index' value='NO INDEX # YET' type='text' name='index' readonly=true}} {{#if afFieldIsInvalid name='index'}}
                    <span class="help-block">{{{afFieldMessage name='index'}}}</span> {{/if}}
                  </div>
                </div>
                {{/if}}

                <!-- end of Unique ID IF Statement -->

              </div>
              <!-- end of index number row -->

              <!-- start of button -->

              <div class="row spacethebottom">
                <div class="col-md-3">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>

              <!-- end of button -->

              {{/autoForm}}
            </div>

          </div>


          <!-- end of tab2 -->




          <!-- Start of invoice tab -->

          <div id="invoice" class="tab-pane fade">

            <h2 class="h2heading">Invoice Details</h2>

            <!-- Start of Row 1a -->
            {{#autoForm id="newAssignment" type="method" schema=Schema.Claims collection="Claims" meteormethod="addClaimdata"}}
            <div class="row spacethebottom">

              <div class="form-group">
                <label class="col-md-1 control-label">Invoice Date</label>
                <div class="col-md-3">
                  {{> afFieldInput id='invoiceDate' value='today' type='bootstrap-datepicker' buttonClasses='glyphicon glyphicon-calendar'
                  name='invoiceDate'}}
                </div>
              </div>



            </div>
            <!-- End of Row 1a -->

            <!-- Start of Row -->

            <div class="row spacethebottom">


              <div class="form-group">
                <label class="col-md-12 control-label">Attention Line (Prints to Invoice)</label>
                <div class="col-md-6">
                  {{> afFieldInput id='serviceFee' type='text' name='serviceFee'}}
                  <a href="#">Add Adjuster Name</a>
                </div>
              </div>




            </div>

            <!-- End of Row -->

            <!-- Empty Row -->
            <div class="row spacethebottom">
            </div>
            <!-- End of Empty Row -->


            <!-- start of row 9-->
            <div class="row spacethebottom">


              <div class="form-group">
                <label class="col-md-12 control-label">Other Description - Prints to Invoice</label>
                <div class="col-md-6">
                  <textarea rows="4" cols="73" name="comment" form="usrform"></textarea>
                </div>
              </div>


            </div>
            <!-- end of row 9 -->

            <!-- Empty Row -->
            <div class="row spacethebottom">
            </div>
            <!-- End of Empty Row -->
            <!-- start of row 9-->
            <div class="row spacethebottom">






              <div class="form-group">
                <label class="col-md-12 control-label">Predefined Services</label>

                <script type="text/javascript">
                  $(document).ready(function () {
                    $('#example-getting-started').multiselect({
                        buttonWidth: '450px'               
                      });
                  });
                </script>

                <select id="example-getting-started" multiple="multiple">
                <option value="cheese"><i class="glyphicon glyphicon-calendar">Heavy Equipment</i></option>
                <option value="tomatoes">Example 2</option>
                <option value="Mozzarella">Example 3</option>
                <option value="Mushrooms">Example 4</option>
                <option value="Pepperoni">Example 5</option>
                <option value="Onions">Example 6</option>
              </select>
              </div>
            </div>
            <!-- end of row 9-->

            <!-- Start of Row -->

            <h2 class="h2heading">Invoice Fees</h2>
            <div class="row spacethebottom">


              <div class="form-group">
                <label class="col-md-1 control-label">Service Fee</label>
                <div class="col-md-2">
                  {{> afFieldInput id='serviceFee' type='text' name='serviceFee'}}
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-1 control-label">Time & Expense</label>
                <div class="col-md-2">
                  {{> afFieldInput id='timeExpense' type='text' name='timeExpense'}}
                </div>
              </div>



            </div>

            <!-- End of Row -->

            <!-- Start of Row 2 -->

            <div class="row spacethebottom">


              <div class="form-group">
                <label class="col-md-1 control-label">Mileage</label>
                <div class="col-md-2">
                  {{> afFieldInput id='mileage' type='text' name='mileage'}}
                  <a href="#">Mileage Calculator</a>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-1 control-label">Other Cost</label>
                <div class="col-md-2">
                  {{> afFieldInput id='otherCost' type='text' name='otherCost'}}
                </div>
              </div>

            </div>

            <!-- End of Row 2 -->

            <!-- Start of Row 2 -->

            <div class="row spacethebottom">


              <div class="form-group">
                <div class="col-md-6">
                  <input type="checkbox" name="Completed" value="completed"> Ready for Billing<br>
                  <input type="checkbox" name="Cancelled" value="cancelled" checked="checked">Invoice Paid &nbsp;
                </div>
              </div>
            </div>


            <!-- Empty Row -->
            <div class="row spacethebottom">
            </div>
            <!-- End of Empty Row -->


            <div class="row spacethebottom">
              <div class="form-group">
                <h3 style="margin-left:15px;">Total Invoice</h3>
                <div class="col-md-2">
                  {{> afFieldInput id='totalInvoice' type='text' name='totalInvoice' value='$115.00' readonly=true}}
                </div>
              </div>
            </div>


            <!-- End of Row 2 -->




            {{/autoForm}}




          </div>
          <!-- end of invoice-->

          <!-- Start of image manager tab -->
          <div id="imagemanager" class="tab-pane fade">
          </div>

          <!-- end image manager tab -->

          <!-- Start of appraiser tab -->
          <div id="appraiser" class="tab-pane fade">
          </div>

          <!-- end appraiser tab -->

          <!-- Start of supp tab -->
          <div id="supplement" class="tab-pane fade">
          </div>

          <!-- end supp tab -->


        </div>
        <!-- end of ALL TAB CONTENT -->

      </div>


    </div>
  </div>

</template>





<template name="shopnamePill">
  {{name}}
</template>